.notifications-container {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.header-notif {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the header */
    margin-bottom: 20px;
    position: relative;
}

.back-icon-header {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 0px;
}

h2 {
    font-size: 16px;
    font-weight: 800;
    color: #000000;
    text-align: center;
    margin: 0;
}

.notifications-list {
    margin-top: 40px;
}

.notification-item {
    background-color: #DEE7F9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.notification-item:hover {
    background-color: #f0f0f0;
}

.notification-item p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.timestamp {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 200;
    color: #6F6F6F;
}

.no-notifications {
    text-align: center;
    color: #999;
    font-size: 16px;
    padding: 20px 0;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #f9fbff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 500px;
    width: 90%;
    font-size: 16px;
    font-weight: 600;
}

.modal-content .timestamp{
    font-size: 12px;
    font-weight: 200;
    color: #6F6F6F;
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
