.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .forgot-password-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  .forgot-password-box h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .forgot-password-box .message {
    color: red;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .forgot-password-box input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-box button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #003399;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .forgot-password-box button:hover {
    background-color: #0056b3;
  }

  .password-container {
  position: relative;
}

.password-container input {
  /* width: calc(100% - 40px); */
}

.password-container .toggle-password1 {
  position: absolute;
  width: 15%;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}