body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.login-box {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

.login-box h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000000;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
}

.form-group input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #DEE7F9;
}

.password-container {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.password-container input {
    padding-right: 40px;
    background: #DEE7F9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    /* transform: translateY(-10%); */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #003399;
}

.forgot-password {
    font-size: 14px;
    font-weight: 600;
    align-self: flex-end;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #535353E5;
    cursor: pointer;
}

.signin-button {
    background-color: #003399;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.signin-button:hover {
    background-color: #002080;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin: 10px 0;
}

.signup-link {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    color: #535353E5;
    cursor: pointer;
}

.signup-link:hover {
    color: #535353E5;
    text-decoration: underline;
}

.signup-link span {
    color:#003399;
    font-weight: 700;
}

/* .divider {
    margin: 20px 0;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.divider span {
    flex: 1;
    height: 1px;
    background: #ddd;
}

.divider::before { 
    content: "OR";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 0 10px;
    color: #000;
    z-index: 1; 
} */

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #727272;
}

.divider::before {
    margin-right: .25em;
}

.divider::after {
    margin-left: .25em;
}

.divider span {
    color: #727272;
    font-weight: 600;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 48%;
    cursor: pointer;
    background: #fff;
    box-sizing: border-box;
}

.social-button img {
    margin-right: 10px;
}

@media (max-width: 600px) {
    .login-box {
        padding: 20px;
        border-radius: 10px;
    }

    .form-group input {
        font-size: 14px;
    }

    .signin-button {
        font-size: 14px;
        padding: 10px;
    }

    .signup-link {
        font-size: 14px;
    }

    .social-button {
        padding: 8px;
    }

    .toggle-password {
        font-size: 16px;
    }
}
