.App {
  text-align: center;
}
/* 
body {
  /* padding-top: 30px; To prevent content from hiding under the fixed navbar 
} */

.offline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.offline-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.offline-container p {
  font-size: 1.2em;
}
